<div class="card card-body">
    <div class="tab-content">
        <h2>Adicionar Nova Cidade</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <hr />
            <div>
                <label [ngClass]="{ 'text-danger': submitted && form.name.errors }" for="name">
                    <strong>Nome</strong>
                    <span *ngIf="submitted && form.name.errors">
                        <span *ngIf="form.name.errors.required"> - <i>Este campo é obriatório</i>
                        </span>
                        <span *ngIf="form.name.errors.minlength"> - <i>Este campo tem que ter mais de 3 caracteres</i>
                        </span>
                        <span *ngIf="form.name.errors.maxlength"> - <i>Este campo tem que ter Menos de 255
                                caracteres</i>
                        </span>
                    </span>
                </label>
                <input type="text" formControlName="name" class="form-control" id="name"
                    [ngClass]="{ 'is-invalid': submitted && form.name.errors }" />

            </div>
            <div class="row g-3">
                <div class="col-auto">
                    <label [ngClass]="{ 'text-danger': submitted && form.nickName.errors }" for="nickName">
                        <strong>Apelido</strong>
                        <span *ngIf="submitted && form.nickName.errors">
                            <span *ngIf="form.nickName.errors.maxlength"> - <i>Este campo tem que ter Menos de 255
                                    caracteres</i>
                            </span>
                        </span>
                    </label>
                    <input type="text" formControlName="nickName" class="form-control" id="nickName"
                        [ngClass]="{ 'is-invalid': submitted && form.nickName.errors }" />
                </div>
                <div class="col-9">
                    <label [ngClass]="{ 'text-danger': submitted && form.email.errors }" for="email">
                        <strong>Email</strong>
                        <span *ngIf="submitted && form.email.errors">
                            <span *ngIf="form.email.errors.required"> - <i>Este campo é obriatório</i>
                            </span>
                            <span *ngIf="form.email.errors.email"> - <i>Endereço de email invalido</i>
                            </span>
                        </span>
                    </label>
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted && form.email.errors }">
                    </div>
                </div>

            </div>
            <div class="row g-3">
                <div class="col-5">
                    <label [ngClass]="{ 'text-danger': submitted && form.birthday.errors }" for="birthday">
                        <strong>Data de nascimento</strong>
                        <span *ngIf="submitted && form.birthday.errors">
                            <span *ngIf="form.birthday.errors.required"> - <i>Este campo é obriatório</i>
                            </span>
                            <span *ngIf="form.birthday.errors.birthdatesmallerthantoday"> - <i>não pode ser maior que a data atual</i>
                            </span>

                        </span>
                    </label>
                    <div class="input-group">
                        <input type="date" class="form-control" formControlName="birthday"
                            [ngClass]="{ 'is-invalid': submitted && form.birthday.errors }">
                    </div>
                </div>
                <div class="col-4">
                    <label [ngClass]="{ 'text-danger': submitted && form.education.errors }" for="education">
                        <strong>Escolaridade</strong>
                        <span *ngIf="submitted && form.education.errors">
                            <span *ngIf="form.education.errors.required"> - <i>Este campo é obriatório</i>
                            </span>
                        </span>
                    </label>
                    <select class="form-control" formControlName="education" id="education">
                        <option *ngFor="let education of educations" [value]="education">
                            {{dictionaryEducation[education]}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="mt-4">
                <button [disabled]="loading" class="btn btn-primary pl-3">
                    Salvar
                </button>
                <a class="btn btn-danger" [routerLink]="['']">
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>