<header class="fixed-top border-0 shadow mb-5 bg-white">
    <nav class="container d-flex" >
        <div>
            <h1 style="font-size: 30px">Cadastro</h1>
        </div>   
    </nav>
</header>
