<div class="card card-body">
    <div class="d-flex justify-content-between">
        <form class="row g-3" [formGroup]="filterForm" (ngSubmit)="GetAllPersonUsers()">
            <div class="col-auto">
                <input type="text" formControlName="search" class="form-control" id="search">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Pesquisar</button>
            </div>
        </form>

        <a [routerLink]="[ '/novo']" class="btn btn-primary mb-3">Adicionar</a>
    </div>
    <div *ngIf="personUsers$ | async as personUsers; else loading">

        <h1 *ngIf="!personUsers.content.length" class=" text-center">Não há nenhum registro</h1>
        <table *ngIf="personUsers.content.length" class="table " style="width:100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Apelido</th>
                    <th>Email</th>
                    <th>Data de Nascimento</th>
                    <th>Escolaridade</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personUser of personUsers.content">
                    <td>{{personUser.name}}</td>
                    <td>{{personUser.nickName}}</td>
                    <td>{{personUser.email}}</td>
                    <td>{{personUser.birthday | date:'dd/MM/yyyy'}}</td>
                    <td>{{personUser.education}}</td>
                    <td>
                        <button [routerLink]="[ '/editar/', personUser.id]"
                            class="btn btn-sm btn-primary">Editar</button>
                        <button (click)="onDelete(personUser.id)" class="btn btn-sm btn-danger">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #loading>
        <div class="card card-body">
            <h1 class="text-center">Carregando...</h1>
        </div>
    </ng-template>
</div>